@import (reference) '~app/style.less';

.alert-item {
  list-style: none;
  padding: 0.6rem 0.5rem 0.5rem;
  border-bottom: 1px solid @lightBack;

  .alert-times {
    display: block;
  }

  &.disabled {
    color: average(average(@text, @back), @back);
  }

}
