@import (reference) '~app/style.less';


label {
  display: block;
  padding: 0.5rem;

  input[type=text],
  input[type=time] {
    display: inline-block;
    margin: 0 auto;
    background: lighten(@back, 5%);;
    border: none;
  }
}
button {
  background: transparent;
  border: none;
  display: block;
  margin: auto;
}
