@import (reference) '~app/style.less';

@inputBG: @lightBack;
@inputSize: 2.5rem;
@labelWidth: 5rem;

label {
  .shadowify(@inputBG, @direction: to top left);
  position: relative;
  display: block;
  padding: 0 0.5rem;
  margin: 1rem 0;
  height: @inputSize;
  line-height: @inputSize;
  font-size: 1rem;
  font-weight: 100;
  color: average(@text, @inputBG);

  & > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

  }
  .input-title {
    display: inline-block;
    width: @labelWidth - 2;
    padding-right: 2rem;
    text-align: right;
  }

  input[type=text],
  input[type=time] {
    display: block;
    height: @inputSize;
    line-height: @inputSize;
    margin: 0 auto;
    background: transparent;
    border: none;
    color: @text;
    width: 100%;
    padding: 0 0 0 @labelWidth;
  }

  ::-webkit-date-and-time-value {
    line-height: @inputSize;
  }
}
button {
  background: transparent;
  border: none;
  display: block;
  margin: auto;

  &.button-positive {
    color: #fff;
    background: @green;
  }
  &.button-negative {
    color: #fff;
    background: @red;
  }
}
