@import (less) '~app/fonts/imports.less';

@green: #4fc375;
@red: #c34f4f;
@lightBack: #5d5c7d;
@darkBack: #322D4C;
@back: #443869;
@interaction: #60A7DB;
@text: #dde;

body {
  background: @back;
  color: @text;
  font-family: 'Roboto', sans-serif;
}

main > footer {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
}

.pure-button {
  height: 3rem;
}

ul, ol {
  padding: 0;
  margin: 0;
}
