@import (less) '~app/fonts/imports.less';

@green: #4fc375;
@red: #c34f4f;
@lightBack: #5d5c7d;
@darkBack: #322D4C;
@back: #443869;
@interaction: #60A7DB;
@text: #dde;
@logo: url('~app/icon.svg');

.shadowify(@color: @back, @direction: to right bottom) {
  @lighter: lighten(@color, 3%);
  @darker: darken(@color, 3%);
  background: linear-gradient(@direction, @lighter, @darker);
}

body {
  color: @text;
  font-family: 'Roboto', sans-serif;
}

.transition-wrapper {
  .shadowify(@back);
}

main {
  padding: 0.5rem 0.5rem 4rem;

  & > footer {
    position: fixed;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;

    .pure-button {
      border-radius: 0;
    }
  }
}

.pure-button {
  height: 3rem;
  font-size: 1rem;
}

ul, ol {
  padding: 0;
  margin: 0;
}
